<input id="searchbar" placeholder="Rechercher lieu, bar, ville..."> 
    <% for (bar of locals.barData) { %>
        <div class="searchbar-results">
            <a href="/bars/<%=bar.id%>">
                <img src="../img/<%=bar.logo%>"></img>
                <div class="searchbar-results-infos">
                    <h2><%= bar.name %></h2>
                    <div class="searchbar-results-adress">
                        <h3><%= bar.adress %>
                        <h3><%= bar.zipcode + " " + bar.city %></h3>
                    </div>
                </div>
            </a>
        </div>
    <% } %>