<%- include('./includes/header.ejs') %>

<h1>Mettre à jour le tournoi</h1>

<form action="/admin/tournament/<%= tournament.id %>/edit" method="POST" enctype="multipart/form-data">
    <label for="title">Titre</label>
    <input required value="<%= tournament.title %>" id="title" name="title" type="text" placeholder="Titre du tournoi..." />
    
    <label for="content">Contenu du tournoi</label>
    <textarea required id="content" name="content" placeholder="Contenu de votre article..."><%= tournament.content %></textarea>
    
    <div id="edit-post-current-image">
        <h3>Image actuelle</h3>
        <% if (tournament.image) { %>
            <img src="/img/<%= tournament.image %>" />
        <% } else { %>
            Pas d'image.
        <% } %>
    </div>
    
    <label for="image">Choisissez une image d'illustration</label>
    <input type="file" name="image" id="image" accept="image/*" />
    
    <button>Valider</button>
</form>

<%- include('./includes/footer.ejs') %>
