<%- include('./includes/header.ejs') %>

<h1>Mise à jour des scores</h1>

<form id="rankingForm" action="/admin/ranking" method="POST">

    <label for="barSelected">Nom du bar : </label>
    <select id="admin-bar-select" name="barSelected" required onchange="handleSelectedBar()">
        <option value="">--Sélectionnez un bar--</option>
        <% for (bar of locals.barData) { %>
            <option value='<%= bar.id %>'><%= bar.name %> <%= '('%><%= bar.zipcode %> <%= bar.city %><%= ')' %></option>
        <% } %>
    </select>
    
    <section class="rankings" id="admin-ranking">
        <table>
            <tr>
                <th>Pseudo</th> 
                <th>Score</th>
                <th>Action</th>
            </tr>
            <tr>
                <td><%= userRanking.pseudo %></td>
                <td>
                    <label for="userScore">Score : 
                        <input id="userScore" type="text" name="userScore" value="<%= userRanking.score %>"required />
                    <button>Valider</button></td>
                <td>
                    <a href="/admin/ranking/bar/<%= userRanking.id_bar %>/">Annuler</a>
                </td>
            </tr>
        </table>
    </section>

</form>

<%- include('./includes/footer.ejs') %>