<%- include('./includes/header.ejs') %>

<h1>Créer un nouveau tournoi</h1>

<form action="/admin/tournament/add" method="POST">

    <label for="barSelected">Nom du bar : </label>
    <select id="bar-select" name="barSelected" required >
        <option value="">--Sélectionnez un bar--</option>
        <% for (bar of locals.barData) { %>
            <option value='<%= bar.id %>'><%= bar.name %> <%= '('%><%= bar.zipcode %> <%= bar.city %><%= ')' %></option>
        <% } %>
    </select>
    
    <label for="tournamentDate">Date du tournoi : 
    <input id="tournamentDate" type="date" name="tournamentDate" required />

    <label for="tournamentStartTime">Heures de début du tournoi : </label>
    <input id="tournamentStartTime" type="time" name="tournamentStartTime" min="13:00" max="23:55" value="" required />

    <label for="tournamentEndTime">Heures de fin du tournoi : </label>
    <input id="tournamentEndTime" type="time" name="tournamentEndTime"  min="13:00" max="23:55 value="" required />

    <label for="tournamentDescription">Description (optionnel) : </label>
    <textarea id="tournamentDescription" name="tournamentDescription" value=""></textarea>

    <button type="submit">Valider</button>

</form>

<%- include('./includes/footer.ejs') %>