<%- include('./includes/header.ejs', {bar}) %>

<% for (bar of bar) { %>
    <section class='bar-details'>
        <aside class='bar-info'>
            <img class='bar-logo' src="../img/<%= bar.logo %>"></img>
            <div class="bar-container">
                <div class="info-container">
                    <h4><i class="fas fa-file-alt"></i> Inscrit depuis le <%= new Date(bar.register_date).toLocaleDateString('fr-FR') %></h4>
                    <div class="adress">
                        <h4><i class="fas fa-map"></i><%= bar.adress %></h4>
                        <h4><%= bar.zipcode %> <%= " " %> <%= bar.city %></h4>
                    </div>
                    <h4><i class="fas fa-phone-alt"></i><%= bar.phone_number %></h4>
                    <h4><i class="fas fa-globe-africa"></i><a href="https://latencha.fr/">Site web</a></h4>
                    <h4><i class="fab fa-facebook-f"></i><a href="https://latencha.fr/">Page Facebook</a></h4>
                    <h4><i class="fab fa-instagram"></i><a href="https://latencha.fr/">Page Instagram</a></h4>
                </div>
            </div>
        </aside>
        
        <div class="next-tournaments">
            <h2>Prochains Tournois</h2>
            <% for (tournament of tournament) { %>
                <section class="tournaments">
                    <div>
                        <img src="../img/<%= tournament.logo %>"></img>
                    </div>
                    <h2><%= tournament.name %> <%= " - " %><%= tournament.city %></h2>
                    <h3><%= new Date(tournament.date).toLocaleDateString('fr-FR') %></h3>
                    <h4><%= tournament.description %></h4>
                    <button>S&#39;inscrire</button>
                </section>
            <% } %>
        </div>
        
        <section class="rankings">
            <p class="remaining">Il reste ... jours avant la fin de la saison</p>
            <table>
                <tr>
                    <th>Place</th>
                    <th>Pseudo</th> 
                    <th>Score</th>
                </tr>
                <% for (i = 0 ; i < ranking.length ; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= ranking[i].pseudo %></td> 
                    <td><%= ranking[i].score %></td>
                </tr>
                <% } %>
            </table>
        </section>

    </section>
<% } %>

<%- include('./includes/footer.ejs') %>
